

</body>
<footer>
    <div class="copyright">
        <p>&copy; 
        <script type="text/javascript">
           document.write(new Date().getFullYear());
          </script>. Made with ❤ by Nyamumbe_Brian Dev </p>
    </div>
</footer>
</html>
