

</body>
<footer>
    <div class="copyright">
        <p>&copy; 
        <script type="text/javascript">
           document.write(new Date().getFullYear());
          </script>. Made with <i class="fa-solid fa-heart"></i> by Nyamumbe_Brian Dev.   </p>
    </div>
</footer>
</html>
